@import "~tgam-patterns/assets/patterns/stylesheets/components.button";

// @import "bulma/sass/base/generic";

// @import "bulma/css/bulma.css";

// @import "uikit/src/scss/variables-theme.scss";

$image-width: 100px;

.image-sm {
  width: $image-width;
  height: auto;
}
.movie {
  border-bottom: 1px solid #999;
}
.more-button {
  margin: 20px 0;
}